.contain {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    padding-left: 30px;

}

.section {
    padding: 30px;
}

.center{
    float: left;
    position: relative;
    left: -50%;
}

.center-container {
    float: left;
    position: relative;
    left: 50%;
  }

.job{
    width: 100%;
    border-radius: 50px;
    background-color: #141e26;
    padding: 50px;
}